
{:pom {:group-id "cirru",
       :artifact-id "calcit-theme",
       :version "0.1.0",
       :name "Color schemes library for calcit editor."}
 :packaging {:jar {:enabled true
                   :remote-repository {:id "clojars"
                                       :url "https://clojars.org/repo"}}}
 :scm {:enabled true}}
